<!-- 
 ---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
----->

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->
---
layout: archive
title: "Talks and presentations"
permalink: /talks
author_profile: true
redirect_from: 
  - /talk.html
---

## Ontario Tech University

### Doctor of Philosophy - PhD, Electrical and Computer Engineering (2019 - 2023)

Pursuing my PhD in Electrical and Computer Engineering at Ontario Tech University, I'm researching Real-time Embedded Systems, Embedded Software Engineering, Software Reusability, and Machine Learning. I have completed courses like Embedded Control System, Real-time Data Analytics in IoT, Advance Optimization, and Network Computing.

### Master of Applied Science (MASc), Computer Engineering (2017 - 2019)

During my MASc at Ontario Tech University, I specialized in Computer Engineering focusing on Real-time Embedded Systems, Parallel Programming and Computation, and Machine Learning, with a special emphasis on Verification & Validation. Courses completed during this period include Advanced Topics in High-Performance Computing (Machine Learning), Knowledge Discovery & Data Mining, Artificial Intelligence, Advanced Topics in Software Design, and Special Topics: Safety Critical Software System.

## Islamic University of Technology

### Bachelor of Science (B.Sc.), Computer Science Engineering (2009 - 2013)

I acquired my Bachelor's degree in Computer Science Engineering from Islamic University of Technology. Member of the Islamic University of Technology Computer Society (IUTCS). My research during this period was focused on Cloud Computing.
